<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="resources/img/LOGO.png">
    <link rel="stylesheet" href="resources/css/index.css">
    <title>AltaGama</title>
    <body>
      <header>
          <section class="textos-header">
              <h1>Bienvenido!</h1>
              <h2> Compra Tu Auto So침ado </h2>
          </section>
          <div class="wave" style="height: 150px; overflow: hidden;"><svg viewBox="0 0 500 150" preserveAspectRatio="none"
                  style="height: 100%; width: 100%;">
                  <path d="M0.00,49.98 C150.00,150.00 349.20,-50.00 500.00,49.98 L500.00,150.00 L0.00,150.00 Z"
                      style="stroke: none; fill: #fff;"></path>
              </svg></div>
      </header>
      <main>
        <div class="contenedor">
          <% if (login) { %>
            <h1>Usuario conectado: <strong><%= name %></strong></h1>
            <a href="logout" class="a-logout">Logout</a>
            <a href="tienda" class="a-tienda">Ver Autos</a>
            <a href="carrito" class="a-carrito">Mi carrito</a>
          <% } else { %>
            <h1><strong><%= name %></strong></h1>
            <a href="login" class="a-login">Ir a Login</a>
            <a href="tienda" class="a-tienda">Ver Autos</a>
            <a href="carrito" class="a-carrito">Mi carrito</a>
          <% } %>
        </div>        
          <section class="contenedor sobre-nosotros">
              <h2 class="titulo">NOSOTROS</h2>
              <div class="contenedor-sobre-nosotros">
                  <img src= "resources/img/NOSOTROS.png" alt="" class="imagen-about-us">
                  <div class="contenido-textos">
                    <h3><span>1</span>Autos de Alta Gama:</h3>
                    <p>쮼st치s buscando un veh칤culo excepcional que combine lujo, potencia y tecnolog칤a de vanguardia? Te invitamos a explorar nuestra exclusiva selecci칩n de autos de alta gama. Cada uno de nuestros veh칤culos ofrece una experiencia de conducci칩n incomparable y un dise침o impresionante.</p>
                    
                    <h3><span>2</span>Descubre la Emoci칩n Deportiva:</h3>
                    <p>Si buscas emociones al volante y la sensaci칩n de velocidad, nuestros autos deportivos est치n dise침ados para ti. Desde elegantes deportivos hasta m치quinas de alto rendimiento, nuestra gama de autos deportivos te har치 sentir la adrenalina en cada curva. 쯃isto para experimentar la verdadera emoci칩n de la carretera?</p>
                    
                  </div>
              </div>
          </section>
          <section class="portafolio">
              <div class="contenedor">
                  <h2 class="titulo">Galeria</h2>
                  <div class="galeria-port">
                      <div class="imagen-port">
                          <img src="resources/img/GALERIA1.jpg" alt="">
                          <div class="hover-galeria">
                              <img src="resources/img/icono1.png" alt="">
                              <p>Nuestro trabajo</p>
                          </div>
                      </div>
                      <div class="imagen-port">
                          <img src="resources/img/GALERIA2.jpg" alt="">
                          <div class="hover-galeria">
                              <img src="resources/img/icono1.png" alt="">
                              <p>Nuestro trabajo</p>
                          </div>
                      </div>
                      <div class="imagen-port">
                          <img src="resources/img/GALERIA3.jpg" alt="">
                          <div class="hover-galeria">
                              <img src="resources/img/icono1.png" alt="">
                              <p>Nuestro trabajo</p>
                          </div>
                      </div>
                      <div class="imagen-port">
                          <img src="resources/img/GALERIA4.jpg" alt="">
                          <div class="hover-galeria">
                              <img src="resources/img/icono1.png" alt="">
                              <p>Nuestro trabajo</p>
                          </div>
                      </div>
                      <div class="imagen-port">
                          <img src="resources/img/GALERIA5.jpg" alt="">
                          <div class="hover-galeria">
                              <img src="resources/img/icono1.png" alt="">
                              <p>Nuestro trabajo</p>
                          </div>
                      </div>
                      <div class="imagen-port">
                          <img src="resources/img/GALERIA6.jpg" alt="">
                          <div class="hover-galeria">
                              <img src="resources/img/icono1.png" alt="">
                              <p>Nuestro trabajo</p>
                          </div>
                      </div>
                      <div class="imagen-port">
                          <img src="resources/img/GALERIA7.jpg" alt="">
                          <div class="hover-galeria">
                              <img src="resources/img/icono1.png" alt="">
                              <p>Nuestro trabajo</p>
                          </div>
                      </div>
                      <div class="imagen-port">
                          <img src="resources/img/GALERIA8.jpg" alt="">
                          <div class="hover-galeria">
                              <img src="resources/img/icono1.png" alt="">
                              <p>Nuestro trabajo</p>
                          </div>
                      </div>
                  </div>
              </div>
          </section>
          <section class="clientes contenedor">
              <h2 class="titulo">Que dicen nuestros clientes</h2>
              <div class="cards">
                  <div class="card">
                      <img src="resources/img/CLIENTE1.jpg" alt="">
                      <div class="contenido-texto-card">
                          <h4>Andrea Perez</h4>
                          <p>Mi experiencia en esta concesionaria de autos deportivos ha sido excepcional. La variedad de autos de alto rendimiento y el servicio amable hicieron que mi elecci칩n fuera emocionante y sin complicaciones. </p>
                      </div>
                  </div>
                  <div class="card">
                      <img src="resources/img/CLIENTE2.jpeg" alt="">
                      <div class="contenido-texto-card">
                          <h4>Martin Meyer</h4>
                          <p>Mi experiencia en esta concesionaria de autos deportivos fue emocionante. El equipo de ventas fue atento y paciente, proporcionando informaci칩n detallada sin presionar. Encontr칠 el auto de mis sue침os, y cada viaje desde entonces ha sido emocionante.</p>
                      </div>
                  </div>
              </div>
          </section>
          <section class="about-services">
              <div class="contenedor">
                  <h2 class="titulo">Nuestros servicios</h2>
                  <div class="servicio-cont">
                      <div class="servicio-ind">
                          <img src="resources/img/SERVICIO2.gif" alt="">
                          <h3>Amplia Variedad de Veh칤culos:</h3>
                          <p>Desde emocionantes modelos nuevos hasta opciones usadas de alta calidad. Nuestros vendedores expertos te ayudar치n a encontrar el veh칤culo perfecto para ti.</p>
                      </div>
                      <div class="servicio-ind">
                          <img src="resources/img/SERVICIO1.webp" alt="">
                          <h3>Mantenimiento Profesional:</h3>
                          <p> Nuestro equipo altamente capacitado se encarga de mantener tu veh칤culo en 칩ptimas condiciones, desde cambios de aceite hasta reparaciones mec치nicas.</p>
                      </div>
                      <div class="servicio-ind">
                          <img src="resources/img/SERVICIO3.gif" alt="">
                          <h3>Financiamiento Personalizado:</h3>
                          <p>Trabajamos contigo para ofrecer opciones de financiamiento atractivas en colaboraci칩n con instituciones financieras de prestigio.</p>
                      </div>
                  </div>
              </div>
          </section>
      </main>
      <footer>
          <div class="contenedor-footer">
              <div class="content-foo">
                  <h4>游님Phone</h4>
                  <p>3413838911</p>
              </div>
              <div class="content-foo">
                  <h4>九괦잺Email</h4>
                  <p>IgnacioMeyer12@hotmail.com</p>
              </div>
              <div class="content-foo">
                  <h4>游늷Location</h4>
                  <p>Rosario,Santa Fe</p>
              </div>
          </div>
          <h2 class="titulo-final">&copy; Ignacio Meyer </h2>
      </footer>
  </body>
  
  </html>